@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-color: #3d60ee;
  --secondary-color: #d0d8fa;
  --neutral-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: white;
  font-family: Arial, sans-serif;
}

.left-nav {
  width: 300px;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 12px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-title {
  font-size: 28px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

.logo-subtitle {
  font-size: 10px;
  color: var(--primary-color);
}

.left-nav-buttons {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #a5b7f7;
}

.left-nav-buttons button {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: var(--primary-color);
  cursor: pointer;
  transition: color 0.3s;
}

.left-nav-button-selected {
  border: 2px solid var(--neutral-color) !important;
  background-color: var(--neutral-color) !important;
  color: var(--primary-color) !important;
}

.analytics-page-btn,
.shifts-page-btn,
.departments-page-btn,
.dashboard-page-btn,
.shedule-page-btn,
.workers-page-btn,
.requests-page-btn {
  margin-top: 10px;
}

.left-nav-buttons button:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.left-nav-buttons button p {
  font-weight: bold;
  margin-left: 20px;
}

.left-nav-other-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 200px;
  padding-top: 5px;
  border-top: 1px solid #a5b7f7;
}

.left-nav-other-btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 40px;
  margin: 0px;
}

.log-out-page-btn {
  color: red !important;
}

.log-out-page-btn:hover {
  border: 2px solid red !important;
  background-color: red !important;
  color: white !important;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.1);
}

header {
  width: 100%;
  height: 60px;
  background-color: var(--neutral-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  padding-left: 25px;
  padding-right: 25px;
}

.h-user-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.h-user-wrapper:hover {
  cursor: default;
}

.h-user-wrapper img {
  width: 45px;
  aspect-ratio: 1;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  background-color: #23c13e;
  margin-left: 15px;
}

.h-user-role {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #23c13e;
  border: 2px solid;
  border-radius: 12px;
}
