.btn-dashed-primary {
  width: 100%;
  border: 2px dashed var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-dashed-primary i {
  margin-right: 15px;
}
